.container {
    background-color: red;
    height: 1000px;
    width: 900px;
    display: grid;
    /*grid-template-rows: 140px 140px 140px 140px;
    grid-template-columns: 140px 140px ;*/
    /*grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);*/
    grid-template-columns: 43px 1fr 1fr;
    grid-template-rows: 89px 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
    /*justify-items: end;*/
 
}

.item {
    background-color: yellow;
    /*height: 122px;
    width: 122px;*/

}

.item1 {
    background-color: yellow;
    /*height: 122px;
    width: 122px;*/

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    align-self: center ;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100px;;
}